{extend name="common/forum_public"} {block name="content"}
<!-- 置顶的内容 -->
<div class="mdui-col-xs-12 mdui-col-sm-9 mdui-shadow-1">
    <style>
        .menu{display: block; height: auto; position: relative; margin: 0; padding: 0;}
        .menu li{display: block; float: left;height: 3rem;line-height: 3rem;font-size: 1rem;}
        .menu li a{text-decoration: none;color: #000000;padding: 0 1rem;cursor: pointer;}
        .menu li:first-child{font-size: 1.2rem;font-weight: bold;}
        .menu  li a.on{background: #dedede;border-radius:45px; padding: 0.5rem 1rem;color: #ff0000}
    </style>
    <p class="mdui-m-t-5"></p>
    <ul class="menu">
        <li>类别：</li>
        <li>
            <a href="{:url('ebook/showres')}">全部</a>
        </li>
        {volist name="result" id="vo"}
        <li>
            <a title="{$vo.fid}">{$vo['name']}</a>
        </li>
        {/volist}
    </ul>
    <div style="clear: both;overflow: hidden;"></div>
    <p class="mdui-m-t-5"></p>
    <div class="mdui-tab mdui-tab-centered" mdui-tab>
        <a href="#tool-all" class="mdui-ripple">工具</a>
        <a href="#resource-all" class="mdui-ripple">资料</a>
    </div>
    <div class="mdui-divider mdui-m-y-0"></div>
    <div id="tool-all">
        <ul class="mdui-list part-list">
            {volist name="toolRes" id="res"}
            {if condition="$res.pid eq '1'"}
            <div class="mdui-col-xs-3" style="min-height: 13rem;">
                <div class="mdui-card">
                    <div class="mdui-card-media">
                        <img src="{$res.img}"/>
                        <div class="mdui-card-media-covered">
                            <div class="mdui-card-primary">
                                <div class="mdui-card-primary-title">{$res.title}</div>
                            </div>
                        </div>
                    </div>
                    <div class="mdui-card-actions">
                        <a class="mdui-btn mdui-ripple" href="{:url('index/ebook/downloadIt',array('id'=>$res['id']))}">下载</a>
                    </div>
                </div>
            </div>
            {/if}
            {/volist}
        </ul>
    </div>

    <div id="resource-all">
        <ul class="mdui-list part-list">
            {volist name="toolRes" id="res"}
            {if condition="$res.pid eq '2'"}
            <div class="mdui-col-xs-3" style="min-height: 13rem;">
                <div class="mdui-card">
                    <div class="mdui-card-media">
                        <img src="{$res.img}"/>
                        <div class="mdui-card-media-covered">
                            <div class="mdui-card-primary">
                                <div class="mdui-card-primary-title">{$res.title}</div>
                            </div>
                        </div>
                    </div>
                    <div class="mdui-card-actions">
                        <a class="mdui-btn mdui-ripple" href="{:url('index/ebook/downloadIt',array('id'=>$res['id']))}">下载</a>
                    </div>
                </div>
            </div>
            {/if}
            {/volist}
        </ul>
    </div>
</div>
{include file="common/right_tool"} {/block}{block name="js"}
<script>
$(window).on('load',function () {
    $('.menu>li:nth-child(2)').addClass('active');
    $('.menu>li:nth-child(2)>a').addClass('on');
    $('.menu>li>a').click(function () {
        // 这是一级栏目点击出现对应子集栏目
        $(".part-list").html();
        var pName = $(this).text();
        var pId = $(this).attr('title');
        $.post("{:url('ebook/ajaxRes')}",{forumName:pName,forumId:pId},function(result){
            $(".part-list").eq(0).html(result[0]);
            $(".part-list").eq(1).html(result[1]);
        });
        $(this).addClass('on').parents('li').siblings('li').children('a').removeClass('on');
    });
});
</script>
{/block}