{extend name="common/forum_public"} {block name="content"}

<!-- 论坛最新内容列表页 -->
<div class="mdui-col-xs-12 mdui-col-sm-9 mdui-shadow-1">

    <!-- 最新内容 -->
    <div class="mdui-typo">
        <h4 class="doc-article-title">当前位置：{$column.name} <a class="doc-anchor" id="divider"></a></h4>
    </div>
    <div class="mdui-tab mdui-tab-centered" mdui-tab>
        <a href="#topic-all" class="mdui-ripple">综合</a>
        <a href="#topic-essence" class="mdui-ripple">精华</a>
        <a href="#topic-book" class="mdui-ripple">电子书</a>
    </div>

    <div id="topic-all">
        <ul class="mdui-list" id="topic-cps">

        </ul>
    </div>

    <div id="topic-essence">
        <ul class="mdui-list" id="topic-ess">

        </ul>
    </div>

    <div id="topic-book">
        <div class="mdui-row" id="topic-ebook">
            
        </div>
    </div>
</div>
{include file="common/right_tool"} {/block}{block name="js"}
<script src="__JS__/mltree-flow.js"></script>
<script>
    //调用flow加载
    var flow = new mfFlow('index','{$fid}');
    flow.flow();
</script>
{/block}
