{extend name="common/forum_public"} {block name="content"}
<!-- 论坛最新内容列表页 -->
<div class="mdui-col-xs-12 mdui-col-sm-9 mdui-shadow-1">
    <div class="mdui-typo">
        <h4 class="doc-article-title">当前位置：{$column.name} <a class="doc-anchor" id="divider"></a></h4>
    </div>
    <style>
        .mdui-subheader a{font-size: 14px;border-right: 1px solid #dedede;padding: 0px 10px;}
        .mdui-subheader a:first-child{font-size: 16px;font-weight: bold;}
        .mdui-grid-tile-actions{cursor: pointer;}
        .mdui-ripple{font-weight: bold;}
    </style>

    <div class="mdui-container">
        <div class="mdui-tab mdui-tab-centered" mdui-tab>
            {volist name="listss" id="vo"}
            <a href="#example2-tab{$vo.fid}" class="mdui-ripple">{$vo.name}</a>
            {/volist}
        </div>
    </div>
    {volist name="listss" id="vo"}
    <div class="mdui-row" id="example2-tab{$vo.fid}">
        {volist name="$vo['child']" id="son"}
        <div class="mdui-col-sm-4">
            <div class="mdui-grid-tile">
                <a href="{:url('index/forum/index',array('fid'=>$son.fid))}">
                    <img src="{$son.img}"/>
                    <div class="mdui-grid-tile-actions">
                        <div class="mdui-grid-tile-text">
                            <div class="mdui-grid-tile-title mdui-text-center">{$son.name}</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {/volist}
    </div>
    {/volist}
    <!--
    {volist name="listss" id="vo"}
    <div class="mdui-row mdui-m-t-2">
        <div class="mdui-col-sm-12 mdui-col-md-12">
            <div class="mdui-card">
                <div class="mdui-col-lg-6 mdui-float-left mdui-hidden-xs">
                    <div class="mdui-card-media">
                        <a href="{:url('index/forum/index',array('fid'=>$vo.fid))}">
                            <img src="{$vo.img}" style="margin: 1rem auto;height: 250px;"/>
                        </a>
                    </div>
                </div>
                <div class="mdui-col-xs-12 mdui-col-lg-6 mdui-float-right">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">
                            <a href="{:url('index/forum/index',array('fid'=>$vo.fid))}">{$vo.name}</a>
                        </div>
                    </div>
                    <div class="mdui-card-content mdui-hidden-xs">{$vo.introduce}</div>
                    <div class="mdui-card-actions">
                        {volist name="$vo['child']" id="son"}
                        <a href="{:url('index/forum/index',array('fid'=>$son.fid))}" class="mdui-btn mdui-ripple">{$son.name}</a>
                        {/volist}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {/volist}

    <ul class="mdui-list">
        {volist name="listss" id="vo"}
        <li class="mdui-subheader">
            <a href="{:url('index/forum/index',array('fid'=>$vo.fid))}">
                {$vo.name}
                {if condition = "count($vo['child']) > 0"}
                :
                {/if}
            </a>
            {volist name="$vo['child']" id="son"}
            <a href="{:url('index/forum/index',array('fid'=>$son.fid))}">{$son.name}</a>
            {/volist}
        </li>
        {/volist}
    </ul>
    -->
</div>
{include file="common/right_tool"} {/block}{block name="js"}
{/block}