{extend name="common/forum_public"} {block name="content"}

<div class="mdui-col-xs-12 mdui-col-sm-8 mdui-col-offset-sm-2 mdui-m-y-1">
    <form>
        <h3>编辑主题</h3>
        <div class="mdui-divider"></div>
        <div class="mdui-row">
            <div class="mdui-m-y-1">
                <div class="mdui-col-xs-6">
                    <select lay-ignore name="fid" class="mdui-select" mdui-select="{position: 'bottom'}" required>
                        {volist name="forum" id="vo"} {if $vo.fid == $topicData.fid}
                        <option value="{$vo.fid}" selected="selected">{$vo.name|raw}</option>
                        {else /}
                        <option value="{$vo.fid}">{$vo.name}</option>
                        {/if} {/volist}
                    </select>
                </div>
                <div class="mdui-col-xs-6">
                    <label class="mdui-checkbox">
                        {if $topicData.tops == 1}
                        <input name="tops" type="checkbox" value="1" checked="checked">
                        {else /}
                        <input name="tops" type="checkbox" value="1">
                        {/if}
                        <i class="mdui-checkbox-icon"></i>
                        置顶
                    </label>
                    <label class="mdui-checkbox">
                        {if $topicData.essence == 1}
                        <input name="essence" type="checkbox" value="1" checked="checked">
                        {else /}
                        <input name="essence" type="checkbox" value="1">
                        {/if}
                        <i class="mdui-checkbox-icon"></i>
                        精华
                    </label>
                    <!-- <label class="mdui-checkbox">
                        <input name="closed" type="checkbox" value="1">
                        <i class="mdui-checkbox-icon"></i>
                        关闭
                    </label> -->
                </div>
            </div>
        </div>
        <div class="mdui-textfield mdui-m-b-1">
            <label class="mdui-textfield-label">标题</label>
            <input name="subject" class="mdui-textfield-input" type="text" placeholder="title" max="60" value="{$topicData.subject|raw}" required/>
        </div>
        <!--style给定宽度可以影响编辑器的最终宽度-->
        <script type="text/plain" id="editor" name="content" style="width:100%;height: 300px;">{$topicData.content|raw}</script>{:token()}
        <input type="hidden" name="sign" value="{$topicData.sign}">
    </form>
    <div>
        <button id="create" class="mdui-btn mdui-color-theme mdui-float-right">修改主题</button>
    </div>
</div>

{/block} {block name="js"}
<script src="__JS__/simplemde.min.js"></script>
<!-- <script src="__JS__/mltree-editor.js"></script> -->
<script src="__STATIC__/editor/ueditor.config.js"></script>
<script src="__STATIC__/editor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/editor/lang/zh-cn/zh-cn.js"></script>
<script>
    let option = {
        uid: "{:session('uid')}",
        url: '{:url("index/topic/update",["uid"=>session("uid"),"tid"=>$topicData.tid])}',
    }
    // var editor = new MLTeditor(option);
     var editor = UE.getEditor('editor');
    var $$ = mdui.JQ;
    layui.use('layer', function() {
        let layer = layui.layer;

        //绑定发帖事件
        $$('#create').on('click', function() {
            //设定textarea的内容
            // $$('#editor').text(editor.getValue());
            $$('#editor').text(UE.getEditor('editor').getContent());
            //获取表单内容
            let submitData = $$('form').serialize();
            getAjax(option.url, submitData, function(res) {
                if (res.code == 1) {
                    mdui.snackbar({
                        message: res.message,
                        position: 'top',
                        onClosed: function() {
                            $$('#editor').text('');
                            window.location.href = res.url;
                        }
                    })
                } else {
                    mdui.snackbar({
                        message: res.message,
                        position: 'top',
                        onClosed: function() {
                            location.reload();
                        }
                    })
                }
            })

            return false;
        });
    });
</script> {/block}