<footer class="mlt-footer">
    <p style="display:block;text-align: center;">
        HC版权所有，有事请联系管理员QQ：3127176962 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        运行时间:{:get_runtime()}s | <script type="text/javascript" src="https://api.kingsr.cc/api/hitokoto/hitencode"></script><script>hitokoto()</script>
    </p>
</footer>
<script src="__JS__/mltree-function.js"></script>
<script>
    //返回顶部
    mdui.mutation()
    $("#fixbar-top").click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 1000);
        return false;
    });
    var msgoption = {
        uid: '{:session("uid")}',
        url: '{:url("api/api/MessageList",["uid"=>session("uid")])}',
        get: '{:url("api/api/getMessage",["uid"=>session("uid")])}',
        addUrl: '{:url("api/api/addMessage",["uid"=>session("uid")])}',
        readUrl: '{:url("api/api/readMessage",["uid"=>session("uid")])}',
        delUrl: '{:url("api/api/delMessage",["uid"=>session("uid")])}',
    }
</script>
<script src="__JS__/mltree-message.js"></script>